<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
</th:block>


<!-- 푸터 -->
<th:block th:fragment="footerFragment">
    <footer class="jumbotron jumbotron-fluid text-center banner" style="margin-bottom:0; background-color:#eeeeee">

        <p class="footer-menu-items footer-menu-items-1">INFO</p>
        <p class="footer-menu-items footer-menu-items-1">SUPPORT</p>
        <p class="footer-menu-items footer-menu-items-1">CONNECTION</p>

        <br/>

        <p class="footer-menu-items footer-menu-items-2">이용약관</p>
        <p class="footer-menu-items footer-menu-items-2">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
        <p class="footer-menu-items footer-menu-items-2">개인정보취급방침</p>

        <p class="footer-menu-items footer-menu-items-3">&copy;Mega IT 4th Team1</p>
    </footer>
</th:block>
</html>