<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    <script th:src="@{/board/free-read.js}"></script>
</head>
<body>
<div layout:fragment="content" class="justify-center-center">
    <div style="position: relative; width: 70%; left: 15%; border: 1px solid black">
        <div style="position: relative; width: 70%; left: 8%;">
            <br><br>
            <div th:text="${post.category}" style="color: lightgray"></div>
            <div>
                <span th:text="${post.title}" style="font-size: 30px;"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span th:text="${post.write.nickname}"></span>
                &nbsp;&nbsp;&nbsp;
                <span th:text="조회수 +${post.hit}"></span>
                &nbsp;&nbsp;&nbsp;
                <span th:text="${#temporals.format(post.modifiedDate,'yyyy-MM-dd HH:mm:ss')}">
                </span>
            </div>

            <span th:if="${post.write.id} == ${member.id}">
                        <button type="button" th:id="deleteFree" th:value="${post.id}" class="deleteFree"
                                style="background-color: transparent; border: 0; outline: 0; color: red">삭제</button>
                    </span>
            <hr>
            <div th:utext="${post.content}">
                <br><br>
            </div>
            <button type="button" class="like"
                    style="border:0px; outline:0px;background-color:transparent;"
                    th:id="like" th:value="${post.id}">
                <img th:src="@{ ${member?.like?.contains(post)}  ?  '/images/like_red.svg' : '/images/like.svg'}"
                     th:id="${post.id}" th:width="20" th:height="20">
            </button>
            <span th:text="${post.likers.size}" th:id="likeNum+${post.id}"></span>


        </div>
    </div>
    <br>
    <br>
    <br>

</div>
</body>
</html>
